Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2018-10, with the labels that each got.

#952 Fix on fix for issue #947
  src/firebase.ios.ts
Labels: Firebase: Firestore, iOS

#946 feat: Added missing API
  src/app/firestore/index.ts
  src/firebase-common.ts
  src/firebase.android.ts
  src/firebase.d.ts
  src/firebase.ios.ts
Labels: Android, Firebase: Firestore, enhancement, iOS

#973 Add Crashlytics log function
  demo/app/main-view-model.ts
  src/crashlytics/crashlytics.android.ts
  src/crashlytics/crashlytics.d.ts
  src/crashlytics/crashlytics.ios.ts
Labels: Android, Firebase: Crashlytics, enhancement, iOS

#996 Fixed the way to get dynamic link after first installation
  src/firebase.android.ts
Labels: Android, bug
