Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2018-09, with the labels that each got.

#893 [Android] MLKit camera resume when app resumes from background.
  publish/pack.cmd
  src/mlkit/mlkit-cameraview.android.ts
Labels: Android, Firebase: ML Kit, bug

#912 Allows disabling automatic notification creation and always showing notifications when in foreground
  docs/MESSAGING.md
  src/messaging/messaging.ios.ts
  src/scripts/postinstall.js
Labels: Android, Firebase: Messaging, enhancement, iOS

#917 Ready For Testing - Implement callable functions
  .gitignore
  demo/app/main-page.xml
  demo/app/main-view-model.ts
  demo/firebase.nativescript.json
  demo/package.json
  src/app/functions/index.ts
  src/app/index.ts
  src/firebase.android.ts
  src/firebase.d.ts
  src/firebase.ios.ts
  src/functions/functions.android.ts
  src/functions/functions.d.ts
  src/functions/functions.ios.ts
  src/functions/index.ts
  src/package-lock.json
  src/package.json
  src/platforms/ios/typings/objc!FirebaseFunctions.d.ts
Labels: Firebase: Functions, enhancement

#919 Storing additional user info as local state
  src/firebase.android.ts
Labels: enhancement
