Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2018-12, with the labels that each got.

#1056 Fix Android Background Notification
  src/firebase.android.ts
  src/messaging/messaging.android.ts
  src/messaging/messaging.d.ts
Labels: Android, Firebase: Messaging

#1077 Fix issue #1073
  publish/scripts/installer.js
Labels: Firebase: Authentication, iOS

#989 Log complex event Analytics
  demo/app/main-view-model.ts
  demo/app_resources/iOS/GoogleService-Info.plist
  src/analytics/analytics.android.ts
  src/analytics/analytics.d.ts
  src/analytics/analytics.ios.ts
  src/firebase-common.ts
  src/firebase.d.ts
Labels: Android, Firebase: Analytics, enhancement, iOS

#1064 Make signInWithEmailAndPassword resolve and reject consistent with web api
  src/app/auth/index.ts
Labels: Firebase: Authentication, enhancement
