Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2019-04, with the labels that each got.

#1205 Web auth signin
  docs/AUTHENTICATION.md
  src/app/auth/index.ts
  src/firebase.android.ts
Labels: Firebase: Authentication, enhancement

#1206 [auth][web] - Add missing method getIdTokenResult()
  demo/app/main-view-model.ts
  src/firebase.android.ts
  src/firebase.d.ts
  src/firebase.ios.ts
Labels: Firebase: Authentication, enhancement

#1218 fix: onAdClosed it's never fired
  src/admob/admob.ios.ts
Labels: Firebase: AdMob, bug, iOS

#1217 [auth] - Update User to match web api interface
  src/firebase.android.ts
  src/firebase.d.ts
  src/firebase.ios.ts
Labels: Android, Firebase: Authentication, enhancement, iOS

#1221 fix: preloadInterstitial promise doesn't resolve for a second ad
  src/admob/admob.android.ts
Labels: Android, Firebase: AdMob, bug

#1223 This would fix the issue #1222 with deprecated currentContext
  src/analytics/analytics.android.ts
  src/firebase.android.ts
Labels: Android
