Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2019-11, with the labels that each got.

#1463 Return the GIDSignIn id token when login with Google on iOS
  src/firebase.ios.ts
Labels: Firebase: Authentication, bug, iOS

#1474 Avoid app crash when googleSignInResult is null
  src/firebase.android.ts
Labels: Android, Firebase: Authentication, bug

#1486 Firestore - Paginate data with query cursors - code improvements
  src/firebase.android.ts
  src/firebase.ios.ts
Labels: Android, enhancement

#1495 Feat: extend FirebasePhoneLoginOptions with android timeout parameter
  docs/AUTHENTICATION.md
  src/firebase.android.ts
  src/firebase.d.ts
Labels: Android, Firebase: Authentication, enhancement
