Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2019-09, with the labels that each got.

#1389 Fixing dynamicLink crash
  src/firebase.ios.ts
Labels: iOS

#1405 Feature/functions region
  src/app/functions/index.ts
  src/firebase.d.ts
  src/functions/functions.android.ts
  src/functions/functions.d.ts
  src/functions/functions.ios.ts
Labels: Android, Firebase: Functions, enhancement, iOS

#1407 Suggestion for documentation of functions' region feature
  docs/FUNCTIONS.md
Labels: Documentation, Firebase: Functions, enhancement
