Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2019-05, with the labels that each got.

#1250 use fully qualified VersionNumber
  publish/scripts/installer.js
  src/scripts/postinstall.js
Labels: Android

#1201 Using Non-Firebase Push Messaging with other Firebase Services
  src/scripts/postinstall.js
Labels: Firebase: Messaging, enhancement, iOS

#1252 Documented crashlytics.log() function.
  docs/CRASHREPORTING.md
Labels: Documentation, Firebase: Crashlytics

#1261 fix: make the plugin androidx compatible
  src/firebase.android.ts
  src/messaging/messaging.android.ts
  src/mlkit/mlkit-cameraview.android.ts
Labels: Android

#1265 feat(google): include web friendly oauth2 token
  src/firebase.ios.ts
Labels: Firebase: Authentication, enhancement, iOS
