Repository EddyVerbruggen/nativescript-plugin-firebase, pull requests merged in 2019-02, with the labels that each got.

#1145 Added option to retrieve Firebase custom claims - resolves #1008
  docs/AUTHENTICATION.md
  src/firebase.android.ts
  src/firebase.d.ts
  src/firebase.ios.ts
Labels: Android, Firebase: Authentication, enhancement, iOS

#1154 Allow retrieving metadata with queries
  docs/FIRESTORE.md
  src/firebase.android.ts
  src/firebase.ios.ts
Labels: Android, Firebase: Firestore, enhancement, iOS

#1158 #1157: Allow objects in arrayRemove on android
  demo-ng/app/tabs/firestore/firestore.component.ts
  src/firebase.android.ts
Labels: Android, Firebase: Firestore, bug
